.navContainer{
    width: 100%;
    background-color: #304ffe;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fafafa;
    padding-inline: 2rem;
}

.containerCategories{
    display: flex;
    list-style: none;
    gap: 1rem;
    
}

.buttonContainer{
    display:flex;
    justify-content: space-between;
    color: black;
}

Button{
    display: flex;
    flex-direction: column;
}

.navBarTitle{
    font-size: 1.5rem;
}

